// @font-face 
//   font-family: 'Montserrat'
//   src: url('../fonts/Montserrat-SemiBold.eot')
//   src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype'), url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg')
//   font-weight: 600
//   font-style: normal
//   font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-Regular.eot')
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face 
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-ExtraBold.eot')
  src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'), url('../fonts/Montserrat-ExtraBold.woff') format('woff'), url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'), url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg')
  font-weight: 800
  font-style: normal
  font-display: swap

* 
  box-sizing: border-box
body
  font-family: 'Montserrat', sans-serif
  background-color: $secondary
  color: $text-color
.container
  margin: 0 auto
  max-width: 1170px
  overflow-x: hidden
h1
  font-weight: 900
  font-size: 48px
  line-height: 64px
  text-align: center
h2
  font-weight: 700
  font-size: 36px
  line-height: 53px
  text-align: center
  color: $text-color
  margin-bottom: 2rem
h3
  font-size: 20px
  font-style: normal
  font-weight: 500
  text-align: center
img
  max-width: 100% // чтобы картинка не вываливалась из родительского блока
a 
  text-decoration: none
  &:hover // чтобы подчеркивание ссылки исчезало при наведении
    border: 0
.link // чтобы подчеркивание ссылки исчезало при наведении
  border-bottom: 1px solid $description-color
.light
  color: $light
li
  list-style-type: none
p
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 25px
  color: $description-color
  max-width: 1170px
.button
  width: 200px
  height: 45px
  padding: 12px
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 16px
  text-align: center
  color: $light
  background-color: $primary
  border: none
  border-radius: 30px
  cursor: pointer
  outline: 0
.input
  background-color: #ffffff
  border-radius: 4px
  border: none
  padding: 0 23px
  height: 50px
.message
  background-color: #ffffff
  border-radius: 4px
  padding: 18px 23px
  border: none
hr
  width: 1110px
  height: 0px
  border: 1px solid #E0E0E0
  margin-bottom: 70px
span
  color: $primary