.about
  display: block
  margin: 0 auto
  display: block
  margin-bottom: 7rem
  &__title
    position: relative
    text-align: center
    padding: 0 200px
  &-wrapper
    display: flex
    padding: 0 1rem
    max-height: 
  &-service
    display: flex
    justify-content: space-between
    margin: 0 1rem
    max-width: 400px
    &__img
    // align-items: center
    &__right
      padding: 6rem 1rem 1rem 1rem
      font-size: 14px
    &__subtitle
      font-size: 18px
      font-weight: 600
      line-height: 22px
    &__description
      font-size: 14px
