.all-projects
  &__title
    text-align: center
    padding: 0 200px 70px 200px
  &__photo
    display: flex
    justify-content: center
    flex-wrap: wrap
  img
    padding-bottom: 50px
    margin-bottom: 20px
    padding: 10px 20px
  &__button
    position: relative
    left: 50%
    transform: translate(-50%, 0)
    margin-bottom: 70px
