.navbar
  background-image: url(../img/first-screen.jpg)
  background-repeat: no-repeat
  background-position: top
  background-size: cover
  min-width: 1920px
  min-height: 900px
  padding-top: 40px
  padding-bottom: 40px
  padding-right: 20em
  &-top
    display: flex
    align-items: center
    justify-content: space-between
  &-menu
    margin: 0
    display: flex
    align-items: center
    min-width: 573px
    height: 90px
    padding: 0 20px
    justify-content: space-between
    color: $light
    // border: 1px solid red
    &-item
      font-style: normal
      font-weight: 500
      font-size: 20px
      line-height: 20px
      justify-content: space-between
    &-link
      color: inherit
    &-link
      text-decoration: none
      text-align: center
      position: relative
      color: $light
      /*от line-height зависит расстояние, на котором будет линия*/
      line-height: 3
    &-link::before,
    &-link::after 
      background-color: $light
      /* display: inline-block; если поставить это значение, линия будет сверху */
      display: block 
      content: ""
      /*задаём высоту линии*/
      height: 1px
      /*задаём начальную ширину элемента (линии)*/
      width: 0%
      /*Подчеркивание начинается с середины*/
      left: 50%
      position: absolute
      transition: width 0.3s ease-in-out
      transform: translateX(-50%)
      /*плавное изменение ширины линии */
    // &-link:hover::before,
    // &-link:focus::before
    //   width: 120%
    &-link:hover::after,
    &-link:focus::after
      width: 120%
  .logo
    &__image
      margin-left: 40px
      width: 140px


