.navbar
  background-image: url(../img/first-screen.jpg)
  background-repeat: no-repeat
  background-position: top
  margin: auto
  min-height: 600px
  background-size: 100%
  margin-bottom: 7rem
  padding-top: 10px
  &-top
    display: flex
    align-items: center
    justify-content: space-between
  &-menu
    margin: 0
    display: flex
    align-items: center
    min-width: 573px
    height: 90px
    padding: 0 20px
    justify-content: space-between
    color: $light
    &__item
      font-style: normal
      font-weight: 500
      font-size: 16px
      line-height: 20px
      justify-content: space-between
    &__link
      position: relative
      text-decoration: none
      text-align: center
      padding: 15px
      color: $light
      /*от line-height зависит расстояние, на котором будет линия*/
      line-height: 3
    &__link::before,
    &__link::after 
      background-color: $light
      /* display: inline-block; если поставить это значение, линия будет сверху */
      display: block 
      content: ""
      /*задаём высоту линии*/
      height: 1px
      /*задаём начальную ширину элемента (линии)*/
      width: 0%
      /*Подчеркивание начинается с середины*/
      left: 50%
      position: absolute
      /*плавное изменение ширины линии */
      transition: width 0.3s ease-in-out
      transform: translateX(-50%)
    //линия сверху
    // &__link:hover::before,
    // &__link:focus::before
    //   width: 120%
    &__link:hover::after,
    &__link:focus::after
      width: 100%
  .logo
    &__image
      margin-left: 40px
      width: 140px
.header-block
  display: block
  margin-top: 70px
  margin-bottom: 335px
  text-align: center
  min-width: 830px
  color: $light

  

