.video
  background-image: url(../img/first-screen.jpg)
  background-repeat: no-repeat
  background-position: top
  background-size: cover
  margin: auto
  min-height: 900px
  margin-bottom: 7rem
  padding-top: 10px